@media(max-width: 767px) {

    .home-intro {

        .info {
            width: 220px;
            margin: 40px 0 0 20px;

            .titulo {    
                font-size: 1.8em;
            }
        }
    }

    .produtos {

        .intro p a {    
            display: block;
            margin: 10px 0;
        }
    }

    .newsletter {
    
        text-align: left;

        .newsletter-titulo {
            font-size: 27px;
        }

        #newsletter-email {
            padding: 15px 10px 15px 15px;
            width: 150px;
        }

        .submit {
            padding: 15px 25px;
        }
    }

    .footer {

        .container {    
            flex-direction: column;
            width: 70%;

            >div {    
                margin: 20px 0;
            }
        }

        .social .titulo {
            text-align: left; 
        }
    }
}
