body, ul {
    margin: 0;
}

h2, h3 {
    margin: 0;
    font-weight: normal;
}

a {
	text-decoration: none;
	color: #fff;
}

input,
label,
select,
button,
textarea
{
	margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
}